@model IEnumerable<Target_Setting_Tool.Web.Models.User>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-@TempData["type"]" role="alert">
        @TempData["msg"]
    </div>
}
<h1>All Users</h1>
<p>
    <a class="btn btn-outline-primary" asp-action="AddUser">Add New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="EditUser" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-primary" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
