@model IEnumerable<Right>

@{
    ViewData["Title"] = "GetAllRights";
}
@if (TempData["Success"] != null)
{
        <div id="alertBox" class="alert alert-success">
            <strong>@TempData["Success"]</strong>
        </div>
}

<h1>GetAllRights</h1>

<p>
    <a asp-action="AddRight" asp-controller="Right" class="btn btn-primary">AddRight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DeletedDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>*@
            <td>
                <a asp-action="EditRight" asp-controller="Right" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> 
                <button class="btn btn-outline-danger" onclick="deleteBtnClick('@(item.Id.ToString())')">Delete</button>
                @*<a asp-action="Detail" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="DeleteRight" asp-route-id="@item.Id" class="btn btn-danger" onclick="Deletd">Delete</a>*@
@*                <button type="button" class="btn btn-danger" onclick="delete(@item.Id)">Delete</button>
*@            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you Sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="confirmDelete">Delete</a>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/ConfirmBox.js" defer></script>
}
